/* General small changes/extensions of bootstrap functions */
body {
  padding-top: 70px;
}
ul {
  margin: 5px 0 5px 0;
}
.container {
  width: auto !important;
  max-width: 1200px;
  padding: 0 15px;
}
.main {
  padding: 15px 15px;
}
.reactable-header-sortable {
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.reactable-header-sort-asc:after {
  position: relative;
  float: right;
  top: 1px;
  font-family: 'Glyphicons Halflings';
  content: "\e151";
}
.reactable-header-sort-desc:after {
  position: relative;
  float: right;
  top: 1px;
  font-family: 'Glyphicons Halflings';
  content: "\e152";
}
.reactable-pagination {
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.reactable-pagination a {
  display: inline;
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.reactable-pagination a:first-child {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.reactable-pagination a:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.reactable-pagination a:hover {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.reactable-pagination .reactable-current-page,
.reactable-pagination .reactable-current-page:hover {
  z-index: 3;
  cursor: default;
  background-color: #d9edf7;
}
/*------------------------------------------------------*/

.carousel-caption {
  padding-bottom:0px;
}
.carousel-caption h1 {
  font-size: 2.8em;
  text-shadow:0 0 4px black;
}
.carousel-caption h3 {
  font-size: 1.3em;
  text-shadow:0 0 4px black;
}


.class-tile {
  height: 150px;
}
.level-table {
  margin: 10px;
  font-size:.8em;
}
.table-bard>tbody>tr>th,
.table-cleric>tbody>tr>th,
.table-druid>tbody>tr>th {
    padding: 2px;
}
td.center, th.center {
  text-align:center;
}

.class-info h4 {
  padding:10px 0 3px 0;
  margin:0;
}
.class-info {
  background: #eee;
  border-radius: 10px;
  font-size: .8em;
  padding:5px 20px 10px 20px;
  margin:10px;
}
.class-features {
  background: #eee;
  border-radius: 10px;
  font-size: .9em;
  padding:15px 20px 10px 20px;
  margin:0 0 25px 0;
}
.btn-toolbar {
  margin: 10px;
}
.btn-toolbar .btn {
  margin: 5px;
}
.feature > p {
  padding-left: 10px;
  padding-bottom: 10px;
}
.feature h4 {
  padding-bottom: 2px;
  margin-bottom: 5px;
  border-bottom: 1px solid #000;
}
.feature h5 {
  padding-bottom: 2px;
  margin-bottom: 2px;
  color: #0000a7;
}
.pad-left {
  padding-left: 5px;
}
.pad-none {
  padding: 0 0 0 0;
}
.subclass h4 {
  color: #0000a7;
  border-bottom: 1px solid #0000a7;
}
.subclass h5 {
  color: #0000a7;
}

.list-group-item.selected,
.list-group-item.selected:hover {
  text-shadow: 0 -1px 0 #afd9ee;
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  background-repeat: repeat-x;
  border-color: #a8cfe3;
}

.background {
  padding: 15px;
}
.background-list {
  max-height: 440px;
  overflow-y: auto;
}
.background-title {
  margin-top:0px;
  border-bottom: 2px solid #0000a7;
}
.background-features {
  background: #eee;
  border-radius: 10px;
  padding: 15px;
  margin:10px;
}

.feat {
  padding: 15px;
}
.feat-list {
  max-height: 440px;
  overflow-y: auto;
}
.feat-title {
  margin-top:0px;
  border-bottom: 2px solid #0000a7;
}
.feat-features {
  background: #eee;
  border-radius: 10px;
  padding: 15px;
  margin:10px;
}

.race {
  padding: 15px;
}
.race-list {
  max-height: 440px;
  overflow-y: auto;
}
.ability-scores {
  font-size: .8em;
}
.race-title {
  margin-top:0px;
  border-bottom: 2px solid #0000a7;
}
.race-features {
  background: #eee;
  border-radius: 10px;
  padding: 15px;
  margin:10px;
}

.spell {
  padding: 15px;
}
.spell-list {
  font-size: .8em;
  overflow-y: auto;
}
.form-group {
  margin-bottom: 0px;
}
.spell-padding {
  padding: 0 0 0 0;
  margin-left: 15px;
  margin-right: 20px;
}
.spell-title {
  margin-top:0px;
  border-bottom: 2px solid #0000a7;
}
.spell-title h1,h2,h3,h4 {
  margin-top:0;
  margin-bottom:5px;
}
.spell-stats {
  padding-top: 15px;
  padding-bottom: 15px;
}
.spell-details {
  background: #eee;
  border-radius: 10px;
  padding: 15px;
  margin:10px;
}

.item {
  padding: 15px;
}
.item-list {
  font-size: .8em;
  overflow-y: auto;
}
.item-padding {
  padding: 0 0 0 0;
  margin-left: 15px;
  margin-right: 5px;
}
.item-title {
  margin: 0 0 0 0;
  border-bottom: 2px solid #0000a7;
}
.item-title h1,h2,h3,h4 {
  margin-top:0;
  margin-bottom:5px;
}
.item-features {
  padding-top: 15px;
  padding-bottom: 15px;
}
.item-details {
  background: #eee;
  border-radius: 10px;
  padding: 15px;
  margin:10px;
}